@use "../global/" as *;

.big-cta-sec {
    .big-cta-div {
        max-width: 80%; 
        margin: 0 auto; 
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        justify-content: center;
        border: 4px solid green;
        border-radius: 50px;


        .big-cta-img-div {
            background-color: $neutral-100;
            aspect-ratio: 1 / 1;
            height: 230px;
            border: 4px solid green;
            border-radius: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            
    
            .big-cta-img{
                width: 175px;
                height: auto;
            }
        }
        .big-cta-text{
            padding: 1em;
            text-align: center;
            max-width: 650px;
            h1 {
                @include heading-bold-700-1;
            }
            h4 {
                @include heading-bold-700-4;
            }
        }
    }
}