@use "../Global/" as *;

.contact-main {
    .contact-main-grid {
        .row {
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1em;
            }
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            place-items: center;
            margin-bottom: 2em;
            gap: 2em;

            .img-widget {
                display: flex;
                justify-content: center;
                align-items: center;

                .fluid-img {
                    width: 527px;
                    height: auto;

                    @media (max-width : 1200px) {
                        width: 250px;
                    }
                }
            }

            .info-widget {
                display: grid;
                place-content: center;
                place-items: center;


                h5 {
                    @include heading-bold-700-5;
                    max-width: 350px;
                    text-align:  center;
                }
            }
        }
    }
}