@use "../global/" as *;

.green-card-container {
    display: grid;
    max-width: 475px;
    background-color: $primary-500;
    padding: 1.5em 2.5em; 
    border-radius: 29px;
    h6 {
        @include heading-400-6;
        color: $neutral-100;
    }
}