@use "../Global/" as *;

.app {
    display: flex;
    justify-content: center;
    margin: 5em;

    .dropdown-container {
        width: 30vw;
        min-width: 300px;

        $primaryColor: #008036;
$neutralColor: #ccc;
$selectedBackgroundColor: #05B750;

.filter {
  &__control {
    font-family: 'Inter';
    font-size: clamp(0.875rem, 1vw + 0.1rem, 1rem);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.03rem;
    background-color: #FBF5F0;
    border: 3px solid $primaryColor;
    border-color: $primaryColor;
    border-radius: 8px;
    outline: none !important;
    box-shadow: none;

    &:hover {
      border-color: $primaryColor;
    }
    &__is-focused {
        outline: none !important;
        box-shadow: none;
    }
  }

  &__menu {
    font-family: 'Inter';
    font-size: clamp(0.875rem, 1vw + 0.1rem, 1rem);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.03rem;
    background-color: #FBF5F0;
    border: 3px solid #000;
    border-radius: 8px;
    margin-top: 5px;
  }

  &__option {
    padding: 10px 20px;
    color: #000;
    background-color: #FBF5F0;

    &--is-selected {
      background-color: $primaryColor;
      color: #FBF5F0;
    }
    &--is-focused {
        outline: none !important;
    }

    &:hover {
      background-color: $selectedBackgroundColor;
      color: #FBF5F0;
    }
  }
}

    }


       }